.slider {
  background-color: var(--dark-blue);
  padding-top: 60px;
  box-sizing: border-box;
  padding-bottom: 45px;

  &__content {
    display: grid;
    grid-template-columns: minmax(240px, 592px) minmax(150px, 494px);
    grid-template-rows: 494px;
    width: calc(100% - 2 * 112px);
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }

  &__description {
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: start;
    justify-content: center;

    h1 {
      color: var(--light-blue);
      font-weight: 600;
      font-size: 50px;
      line-height: 61px;
      margin: 0;
      padding: 0;
    }

    h2 {
      color: var(--blue);
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      margin: 0;
      padding: 0;
    }
  }

  &__img {
    background-image: url(../../images/slider-cat.svg);
    background-repeat: no-repeat;
  }

  @media (max-width: 1070px) {
    &__description {
      h1 {
        font-size: 36px;
        line-height: 40px;
      }
      h2 {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 952px) {
    border-radius: 24px;
    width: calc(100% - 2 * 112px);
    margin: 0 auto;

    &__img{
      background-size: 150px;
      background-position: right;
    }

    &__content{
      grid-template-columns: minmax(240px, 592px);
      grid-template-rows: repeat(2, 185px);
      width: calc(100% - 2 * 20px);
      justify-content: center;
    }

    &__description {
      gap:16px;
      h1 {
        font-size: 24px;
        line-height: 30px;
      }
      h2 {
        font-size: 14px;
        line-height: 17px;
      }
    }

  }
  @media (max-width: 768px) {
    width: calc(100% - 2 * 20px);
    padding-top: 32px;
    padding-bottom: 0;
  }

  @media (max-width: 475px) {
    a {
      width: 160px;
      font-size: 14px;
      line-height: 17px;
      padding-top:12px;
    }
  }
}

.slider__button{
  width: 300px;
  height: 60px;
  background-image: linear-gradient(to right, #a0d2db, #726da8);
  color: var(--white);
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  padding-top:16px;
  box-sizing: border-box;
  background-size: 150% auto;
  transition: .5s;
}

.slider__button:hover {
  background-position: right center;
}